/* library and banner =================================================================*/

.view_library{
    margin-left: 10%;

    text-align: left;

    font-weight: lighter;
    
    letter-spacing: 0.5em;
}

.view_library_header {
    margin-bottom: 2%;

    text-transform: uppercase;

    font-size: 48px;
    letter-spacing: 0.5em;
}

.view_library_description {
    margin-bottom: 3%;

    font-size: 16px;
    letter-spacing: 0.5em;
}


.view_library_banner {
    padding: 3%;
    padding-left: 5%;

    object-fit: cover;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
}


.view_library_banner_name {
    padding-top: 12px;

    font-size: 64px;
}

.view_library_banner_author {
    color: lightseagreen;

    font-size: 24px;
    letter-spacing: 0.1em;
}

.view_library_banner_guide_click {

    padding-top: 12px;

    font-size: 16px;
    letter-spacing: 0.2em;
}

/* focus =================================================================*/

/* The Modal (background) */
.focus_library_model {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 99;
    /* Sit on top */

    left: 0;
    top: 0;

    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(13, 12, 14, 0.99);
    /* Black w/ opacity */


}

.focus_library_content{
    margin: 10%;

    font-weight: lighter;
    letter-spacing: 0.2em;
    text-align: left;
}

.focus_library_content_text {
    white-space: pre-line;

    font-size: 24px;
}

.focus_library_content_header {
    margin-bottom: 5%;

    font-size: 48px;
}

.focus_library_content_author {
    margin-bottom: 5%;

    font-size: 16px;
}

.focus_guide_back{
    position: fixed;
    right: 0;
    top: 0;
    
    margin : 1%;
    padding : 1%;

    border: 3px inset gray;

    font-size: 14px;
    text-align: center;
}

.focus_guide_next{
    margin: 5% 30% 5% 30%;
    padding: 1%;
    border: 3px inset gray;

    font-size: 24px;
    text-align: center;
}
